.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.table {
  margin: 20px 0;
}

  .table-header {
    display: flex;
    justify-content: space-between;

    padding: 0 10px;
    line-height: 24px;
    font-size: 16px;
  }

    .table-header > span {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
    }

  .table-empty {
    margin: 200px;
    text-align: center;
    font-size: 16px;
  }

  .table-row {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #e3e3e3;
    line-height: 24px;
  }
    .table-row > span {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
    }

.button-inline {
  padding: 0;
  background: transparent;
  border-width: 0;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38bb6c;
}